/* src/app/components/Header.module.css */

@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

.logo {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  user-select: none;
  font-family: "Holtwood One SC", serif;
}

.logo h1 {
  font-size: 3.5rem;
  font-weight: 100;
  color: #dfdfdf;
  letter-spacing: -1px;
  text-shadow: 2.2px 2.2px 0px #525c6bfc;
}

.logo .clickable {
  cursor: pointer;
}

@media (max-width: 900px) {
  .logo h1 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  .logo h1 {
    font-size: 2.4rem;
  }
}
