/* src/app/components/Header.module.css */

@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

.logo {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  user-select: none;
  cursor: pointer;
  font-family: "Holtwood One SC", serif;
}

.logo h1 {
  font-size: 4rem;
  font-weight: 400;
  color: #e6e6e6;
  letter-spacing: -2.5px;
  text-shadow: 1px 8px 8px rgba(0, 0, 0, 0.988);
}

@media (max-width: 900px) {
  .logo h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 550px) {
  .logo h1 {
    font-size: 3rem;
  }
}
